@using System.Web.Mvc.Html
<div id="CourseInfo">
    <table>
        <tr>
            <td>Course Code &nbsp;&nbsp;</td>
            <td>@ViewBag.Code</td>
        </tr>
        <tr>
            <td>Course Cradit &nbsp;&nbsp;</td>
            <td>@ViewBag.Credit</td>
        </tr>
    </table>
</div>
