@using System.Web.Mvc.Html
<div id="StudentInfo">
    <table>
        <tr>
            <td>Name &nbsp;&nbsp;</td>
            <td>@ViewBag.Name</td>
        </tr>
        <tr>
            <td>Email &nbsp;&nbsp;</td>
            <td>@ViewBag.Email</td>
        </tr>
        <tr>
            <td>Department&nbsp;&nbsp; </td>
            <td>@ViewBag.Dept</td>
        </tr>
    </table>
</div>

