@using System.Web.Mvc.Html
<div id="TeacherInfo">
    <table>
        <tr>
            <td>Cradit To Be Taken &nbsp;&nbsp;  </td>
            <td>@ViewBag.Credit</td>
        </tr>
        <tr>
            <td>Remainning Cradit&nbsp;&nbsp;  </td>
            <td>@ViewBag.RemainingCredit</td>
        </tr>

    </table>
</div>
