@{
    ViewBag.Title = "Home Page";
}

<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    .
    .
</div>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Image/pic-1.jpg" />
            <div class="carousel-caption">
                <h2>Welcome to Leicester City University</h2>
                <h4>This is our main Campus. As mesmarising it looks, and we are proud of it</h4>
            </div>
        </div>

        <div class="item">
            <img src="~/Image/pic-2.jpg" />
            <div class="carousel-caption">
                <h2>Devid Willson Library</h2>
                <h4>Maybe not the biggest library of UK, but we do provide the books a student may ask!</h4>
            </div>
        </div>
        <div class="item">
            <img src="~/Image/pic-3.jpg" />
            <div class="carousel-caption">
                <h2>Engineering Workshop Building</h2>
                <h3>It's a dream heven for engineers. we have 50 labs, with state of the art equepment. So inventors can go loos to persue their imagination</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Image/pic-4.jpg" />
            <div class="carousel-caption">
                <h2>Student Union Building</h2>
                <h4>Student union Building. It's a place for students to interact and to know themselfs as the rise to make our future.</h4>
            </div>
        </div>
        <div class="item">
            <img src="~/Image/pic-5.jpg" />
            <div class="carousel-caption">
                <h2>Proud Supporter Of our Leister City Football Club</h2>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<br/><br/>
<div class="row">
    <div class="col-md-4">
        <h2>University Profile</h2>
        <p>We are Leicester City University. This is a Project for simnple University Management System. With some easy steps to maintain.</p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Our project is developed with ASP.Net MVC Framework 4.5. Our soul Purpose of developing this project was to obtain professional level web development and enrich our development skill.</p>
    </div>
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>We are called Leicester City. Our Group Combined of three pepole
            <ul>
                <li>Faizul Mustafiz</li>
                <li>Waheed Uz Zaman</li>
                <li>Shihab Uddin Sagar</li>
            </ul>
            Hope You Like Our Project.
        </p>
    </div>
</div>